### Name:- Krishna Mundada
### Roll no:- 45
### Batch:- E3
### Branch:- AI-ML
### Topic :- Python Lab 2

#### 1. Write a python program to define a tuple of 10 student’s information as rollnno., name, address and marks of 3 subjects Physics, Chemistry and Mathematics. The list is sorted by roll no. Your program should display list of three toppers in all students

In [3]:
n = int(input("Enter no. of students: "))
ls = []

for i in range(0,n):
    print("Enter student %s name: "%(i+1))
    name = input("name: ")
    roll = input("roll: ")
    add = input("address: ")
    phy = int(input("marks in physics: "))
    chem = int(input("marks in chemistry: "))
    math = int(input("marks in mathematics: "))
    a =[]
    a.append(name)
    a.append(roll)
    a.append(add)
    a.append(phy)
    a.append(chem)
    a.append(math)
    a.append(phy+chem+math)
    b = tuple(a)
    ls.append(b)
print(ls)

Enter no. of students: 10
Enter student 1 name:
name: Krishna
roll: 40
address: Washim
marks in physics: 99
marks in chemistry: 98
marks in mathematics: 99
Enter student 2 name:
name: Esha
roll: 8
address: Nagpur
marks in physics: 97
marks in chemistry: 98
marks in mathematics: 96
Enter student 3 name:
name: Vinayak
roll: 67
address: Nagpur
marks in physics: 96
marks in chemistry: 95
marks in mathematics: 98
Enter student 4 name:
name: Harsha
roll: 9
address: Nagpur
marks in physics: 95
marks in chemistry: 96
marks in mathematics: 97
Enter student 5 name:
name: Madhav
roll: 48
address: Mumbai
marks in physics: 94
marks in chemistry: 96
marks in mathematics: 93
Enter student 6 name:
name: Jatin
roll: 43
address: Nagar
marks in physics: 90
marks in chemistry: 91
marks in mathematics: 92
Enter student 7 name:
name: Shardul
roll: 64
address: Nagpur
marks in physics: 93
marks in chemistry: 93
marks in mathematics: 94
Enter student 8 name:
name: Jiya
roll: 13
address: 95
marks in physics: 95
marks in chemistry: 96
marks in mathematics: 95
Enter student 9 name:
name: Shweta
roll: 19
address: Nagpur
marks in physics: 94
marks in chemistry: 95
marks in mathematics: 93
Enter student 10 name:
name: Vishal
roll: 68
address: Nagpur
marks in physics: 90
marks in chemistry: 90
marks in mathematics: 90
[('Krishna', '40', 'Washim', 99, 98, 99, 296), ('Esha', '8', 'Nagpur', 97, 98, 96, 291), ('Vinayak', '67', 'Nagpur', 96, 95, 98, 289), ('Harsha', '9', 'Nagpur', 95, 96, 97, 288), ('Madhav', '48', 'Mumbai', 94, 96, 93, 283), ('Jatin', '43', 'Nagar', 90, 91, 92, 273), ('Shardul', '64', 'Nagpur', 93, 93, 94, 280), ('Jiya', '13', '95', 95, 96, 95, 286), ('Shweta', '19', 'Nagpur', 94, 95, 93, 282), ('Vishal', '68', 'Nagpur', 90, 90, 90, 270)]

In [4]:
ls.sort(key=lambda student: student[6])
ls = ls[::-1]
print("3 class toppers: ")

for i in range(0,3):
    print(ls[i][0])

3 class toppers:
Krishna
Esha
Vinayak

#### 2. Python program that displays which letters present in the two strings but not in both.

In [23]:
s1=input("Enter first string:")
s2=input("Enter second string:")
list = set(s1)^set(s2)
print("The letters are:")
for i in list:
    print(i,end=" ")

Enter first string:Krishna
Enter second string:Mundada
The letters are:
K M d r i s u h

#### 3. A List rotation consists of taking the first element and moving it to the end. Write a python that takes a list L and a positive integer k and generate the list L after k rotations. If K is not positive, it should return L unchanged. 
#### Ip: L=[1,2,3,4,5]
#### After 1st rotation: list become [2,3,4,5,1]
#### After the 2nd rotation list becomes [3,4,5,1,2]……. So on.
#### Print output after each rotation. Take the value of k from the user.

In [4]:
lis = [1,2,3,4,5,6]
k = int(input("Enter a number"))
for i in range(1,k+1):
  lis1 = lis[i:]
  lis2 = lis[:i]
  print(lis1+lis2)

Enter a number4
[2, 3, 4, 5, 6, 1]
[3, 4, 5, 6, 1, 2]
[4, 5, 6, 1, 2, 3]
[5, 6, 1, 2, 3, 4]

#### 4. Create a list of tuples, with each tuple having 5 numbers. Perform the addition of 3rd numbers of each tuple.

In [2]:
n = int(input("Enter no. of tuple"))
ls = []

for i in range(0,n):
    a = tuple(input("Enter tuple: "))
    ls.append(a)

sum = 0
for i in ls:
    sum += int(i[2])
print("Sum of third element of tuples: ",sum,end="\n")

Enter no. of tuple3
Enter tuple: 1234
Enter tuple: 5678
Enter tuple: 0987
Sum of third element of tuples:  18

#### 5. Write a python program to Convert a long  string to a list and print all the words and their frequencies

In [1]:
s = input("Enter the string: ")
s = s.replace("  "," ")
ls = s.split(" ")

freq = {}
for i in ls:
    freq[i]=ls.count(i)

for key, value in freq.items():
        print ("%s : %d"%(key, value))

Enter the string: Write a python program to Convert a long string to a list and print all the words and their frequencies
Write : 1
a : 3
python : 1
program : 1
to : 2
Convert : 1
long : 1
string : 1
list : 1
and : 2
print : 1
all : 1
the : 1
words : 1
their : 1
frequencies : 1