## Name: Krishna Mundada
## Batch: E3
## Roll no:- 45
## Topic :- Practical 8 web scraping

In [9]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd

In [11]:
url = "https://www.flipkart.com/search?q=samsung+mobiles&amp;sid=tyy%2C4io&amp;as=on&amp;as-show=on&amp;otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&amp;otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_na&amp;as-pos=1&amp;as-type=RECENT&amp;suggestionId=samsung+mobiles%7CMobiles&amp;requestId=18944876-a6ef-44c0-ac67-d31d7b11a548&amp;as-backfill=on"
ur = uReq(url)
read = ur.read()
ur.close()
page = soup(read,"html.parser")

In [12]:
cont = page.findAll("div",{"class" : "_3pLy-c row"})
lis = []

dic = {"Name":[],"Specs":[],"Price":[],"rating":[]}

In [13]:
for i in cont:
    names = ""
    name  = i.findAll("div",{"class" : "_4rR01T"})
    Name = name[0].text
    for item in Name:
        if item !="(":
            names = names + item
        else:
            break
    specs1 = i.findAll("ul",{"class" :"_1xgFaf"})
    price = i.findAll("div",{"class" :"_30jeq3 _1_WHN1"})
    rating =  i.findAll("div",{"class" :"_3LWZlK"})
    Price = price[0].text[1:]
    Rating = rating[0].text
    dic["Name"].append(names)
    dic["Price"].append(Price)
    spr = specs1[0].text
    dic["Specs"].append(spr)
    dic["rating"].append(Rating)

In [14]:
df = pd.DataFrame(dic)
df.to_csv("mov.csv")

In [15]:
table = pd.read_csv('mov.csv')

In [16]:
print(table)

    Unnamed: 0                        Name  \
0            0         SAMSUNG Galaxy M12
1            1         SAMSUNG Galaxy F12
2            2         SAMSUNG Galaxy F22
3            3         SAMSUNG Galaxy F22
4            4         SAMSUNG Galaxy F12
5            5         SAMSUNG Galaxy F22
6            6         SAMSUNG Galaxy F12
7            7      SAMSUNG Galaxy F42 5G
8            8         SAMSUNG Galaxy M12
9            9         SAMSUNG Galaxy M12
10          10         SAMSUNG Galaxy M12
11          11         SAMSUNG Galaxy F12
12          12         SAMSUNG Galaxy F12
13          13         SAMSUNG Galaxy M12
14          14         SAMSUNG Galaxy M32
15          15         SAMSUNG Galaxy M12
16          16      SAMSUNG Galaxy F42 5G
17          17         SAMSUNG Galaxy M32
18          18      SAMSUNG Galaxy A22 5G
19          19         SAMSUNG Galaxy M32
20          20      SAMSUNG Galaxy F42 5G
21          21      SAMSUNG Galaxy A22 5G
22          22  SAMSUNG Metro 313 Dual Sim
23          23         SAMSUNG Galaxy M32

                                                Specs   Price  rating
0   4 GB RAM | 64 GB ROM16.51 cm (6.5 inch) Displa...  11,073     4.2
1   4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...  11,499     4.3
2   4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....  12,999     4.3
3   4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....  12,999     4.3
4   4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...  12,499     4.3
5   6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  14,999     4.3
6   4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...  11,499     4.3
7   6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  20,999     4.1
8   4 GB RAM | 64 GB ROM16.51 cm (6.5 inch) Displa...  11,147     4.2
9   4 GB RAM | 64 GB ROM16.51 cm (6.5 inch) Displa...  11,078     4.2
10  6 GB RAM | 128 GB ROM16.51 cm (6.5 inch) Displ...  13,562     4.2
11  4 GB RAM | 128 GB ROM | Expandable Upto 512 GB...  12,499     4.3
12  4 GB RAM | 64 GB ROM | Expandable Upto 512 GB1...  11,499     4.3
13  6 GB RAM | 128 GB ROM16.51 cm (6.5 inch) Displ...  13,490     4.2
14  6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  16,990     4.3
15  6 GB RAM | 128 GB ROM16.51 cm (6.5 inch) Displ...  13,518     4.2
16  8 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  22,999     4.1
17  4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....  14,920     4.3
18  6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  18,999     4.3
19  4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....  14,889     4.3
20  8 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  22,999     4.1
21  6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  17,785     4.3
22  10 MB RAM | 2 MB ROM | Expandable Upto 16 GB5....   2,490     4.3
23  6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...  17,151     4.3

In [17]:
maximum = table["Price"].max()
print("Maximum Price is : \t",table["Price"].max())
for i in range(len(table)):
    if table.loc[i]['Price'] == maximum:
        print("Mobile: ",table.loc[i][["Name"]])
        break

Maximum Price is : 	 22,999
Mobile:  Name    SAMSUNG Galaxy F42 5G
Name: 16, dtype: object

In [18]:
print("\n")
maximum1 = table['Price'].min()
print("Minimum Price is : \t",maximum1)
for j in range(len(table)):
    if table.loc[j]['Price'] == maximum1:
        print("Mobile: ",table.loc[j]["Name"])
        break

Minimum Price is : 	 11,073
Mobile:  SAMSUNG Galaxy M12

In [19]:
cmp = table.loc[1]["Name"]
for k in range(len(table)):
    if table.loc[k]["Name"] == cmp:
        print(table.loc[k][["Name","Price","rating"]])
        print("\n")

Name      SAMSUNG Galaxy F12
Price                  11,499
rating                    4.3
Name: 1, dtype: object


Name      SAMSUNG Galaxy F12
Price                  12,499
rating                    4.3
Name: 4, dtype: object


Name      SAMSUNG Galaxy F12
Price                  11,499
rating                    4.3
Name: 6, dtype: object


Name      SAMSUNG Galaxy F12
Price                  12,499
rating                    4.3
Name: 11, dtype: object


Name      SAMSUNG Galaxy F12
Price                  11,499
rating                    4.3
Name: 12, dtype: object

In [22]:
url = "https://www.amazon.in/s?k=samsung&rh=n%3A1389401031&ref=nb_sb_noss"
ur = uReq(url)
read = ur.read()
ur.close()
page = soup(read,"html.parser")

In [23]:
cont = page.findAll("div",{"class" : "a-section a-spacing-small a-spacing-top-small"})
lis = []

dic = {"Name":[],"Price":[],"rating":[]}

In [24]:
for i in cont:
    name = i.findAll("span",{"class" : "a-size-medium a-color-base a-text-normal"})
    names=""
    if len(name)!=0:
        Name = name[0].text
        for item in Name:
            if item !="(":
                names = names + item
            else:
                break
        rating =  i.findAll("span",{"class" :"a-icon-alt"})
        if len(rating)!=0:
            Rating = rating[0].text[:3]
            price = i.findAll("span",{"class" :"a-price-whole"})
            Price = price[0].text
            dic["Name"].append(names)
            dic["Price"].append(Price)
            dic["rating"].append(Rating)

In [25]:
df = pd.DataFrame(dic)
df.to_csv("PSLV1.csv")

In [26]:
table = pd.read_csv('PSLV1.csv')

In [27]:
table

    Unnamed: 0                              Name   Price  rating
0            0               Samsung Galaxy M12   11,499     4.1
1            1               Samsung Galaxy M12   13,499     4.1
2            2               Samsung Galaxy M12   11,499     4.1
3            3  Samsung Galaxy M21 2021 Edition   12,999     4.2
4            4            Samsung Galaxy M32 5G   22,999     4.2
5            5            Samsung Galaxy M32 5G   20,999     4.2
6            6            Samsung Galaxy M32 5G   20,999     4.2
7            7  Samsung Galaxy M21 2021 Edition   12,999     4.2
8            8            Samsung Galaxy M52 5G   24,999     4.2
9            9               Samsung Galaxy M12   13,499     4.1
10          10           Samsung Galaxy A52s 5G   37,499     4.2
11          11               Samsung Galaxy A52   26,490     4.3
12          12         Samsung Galaxy S20 FE 5G   39,990     4.4
13          13               Samsung Galaxy A12   15,499     3.9
14          14               Samsung Galaxy M12   11,499     4.1
15          15               Samsung Galaxy M32   14,999     4.2
16          16            Samsung Galaxy M32 5G   22,999     4.2
17          17            Samsung Galaxy M52 5G   24,999     4.2
18          18                 Samsung Level U2    2,199     3.8
19          19               Samsung Galaxy M12   13,499     4.1
20          20            Samsung Galaxy M52 5G   26,999     4.2
21          21            Samsung Galaxy M52 5G   26,999     4.2
22          22            Samsung Galaxy F42 5G   17,849     1.0

In [28]:
maximum = table["Price"].max()
print("Maximum Price is : \t",table["Price"].max())
for i in range(len(table)):
    if table.loc[i]['Price'] == maximum:
        print("Mobile: ",table.loc[i][["Name"]])

Maximum Price is : 	 39,990
Mobile:  Name    Samsung Galaxy S20 FE 5G
Name: 12, dtype: object

In [29]:
print("\n")
maximum1 = table['Price'].min()
print("Minimum Price is : \t",maximum1)
for i in range(len(table)):
    if table.loc[i]['Price'] == maximum:
        print("Mobile: ",table.loc[i][["Name"]])
        break

Minimum Price is : 	 11,499
Mobile:  Name    Samsung Galaxy S20 FE 5G
Name: 12, dtype: object