### Name:- Krishna Mundada 
### Roll no: 45
## PRACTICAL NO. 3

### Question 1. Let’s say you have a huge list that contains student grades: 
Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C',  'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']
You want to identify distinct grades allotted to students.

In [5]:
## type your code here
grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C',  'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']
print("Distinct grades: ",set(grades))

Distinct grades:  {'F', 'D', 'E', 'A', 'C', 'B'}

### Question 2. Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 
 Sample Input :
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]
 Sample Output:
[1,3,5,7]

In [6]:
## type your code here
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5, 1 ,7 ,2]
C=[]
for ele in set(A):
    if ele in B:
        C.append(ele)
C.sort()
print(C)

[1, 3, 5, 7]

### Question 3. Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' , 'Mukesh Ambani' : 'RJIO'}
 Sample Output:
['Amazon', 'Apple', 'RJIO', 'Twitter']

In [7]:
## type your code here
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' , 'Mukesh Ambani' : 'RJIO'}
list1=[]
for ele in input_dict.values():
    list1.append(ele)
list1.sort()
print(list1)

['Amazon', 'Apple', 'RJIO', 'Twitter']

### Question 4. Write code to fetch the profession of the employee with Employee id entered by the user from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).
 Given Dictionary:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
 Sample output:
'Product Lead'

In [8]:
## type your code here
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
empid = int(input("Enter ID: "))
if empid in Employee_data:
    print(Employee_data[empid][2])

Enter ID: 104
Product Lead

### Question 5 Create a Nested Dictionary Using folowing table in format:-

#### Question 5
Create a Nested Dictionary Using the given table in the format: 
Olympic = {County1 : {Country Code-1 : {Gold : value , Silver : value , Bronze : value} }, County2 : 
{Country Code-2 : {Gold : value , Silver : value , Bronze : value} }, ….}

Country         || Country Code ||Year  ||Medal-Gold|| Medal-Silver || Medal- Bronze
Great Britain   ||    GBR       || 2012 || 29       ||  17          ||  19
China           ||    CHN       || 2012 || 38       ||  28          ||  22
Russia          ||    RUS       || 2012 || 24       || 25           ||  32
United States   ||    US        || 2012 || 46       || 28           ||  29
Korea           ||    KOR       || 2012 || 13       || 8            ||  7
Japan           ||    JPN       || 2012 || 7        || 14           ||  17
Germany         ||    GER       || 2012 || 11       || 11           ||  14

Write a Python Code to:
Q.1. Find the country with maximum gold medals
Q.2. Find the countries with more than 20 gold medals
Q.3. Evaluate the Dictionary and print the name of each country with its gold medals and total 
number of medals

In [2]:
Olympic = {'Great Britain' : {'GBR' : {'Gold' : 29 ,'Silver' : 17 , 'Bronze' : 19}}, 'China'  : {'CHN'  : {'Gold' : 38 , 'Silver' : 28, 'Bronze' : 22} },'Russia' : {'RUS'  : {'Gold' : 24 , 'Silver' : 25, 'Bronze' : 32} },'United States'  : {'US'   : {'Gold' : 46 , 'Silver' : 28, 'Bronze' : 29} },'Korea'  : { 'KOR'  : {'Gold' : 13 , 'Silver' : 8, 'Bronze' : 7} },'Japan'  : {'JPN' : {'Gold' : 7 , 'Silver' : 14, 'Bronze' : 17} },'Germany'  : {'GER'  : {'Gold' : 11 , 'Silver' : 11, 'Bronze' : 14} },}
print(Olympic)

{'Great Britain': {'GBR': {'Gold': 29, 'Silver': 17, 'Bronze': 19}}, 'China': {'CHN': {'Gold': 38, 'Silver': 28, 'Bronze': 22}}, 'Russia': {'RUS': {'Gold': 24, 'Silver': 25, 'Bronze': 32}}, 'United States': {'US': {'Gold': 46, 'Silver': 28, 'Bronze': 29}}, 'Korea': {'KOR': {'Gold': 13, 'Silver': 8, 'Bronze': 7}}, 'Japan': {'JPN': {'Gold': 7, 'Silver': 14, 'Bronze': 17}}, 'Germany': {'GER': {'Gold': 11, 'Silver': 11, 'Bronze': 14}}}

### Q.1. Find the country with maximum gold medals

In [3]:
max=0
c=''
for country,val1 in Olympic.items():
    for code,val2 in val1.items():
        if val2['Gold']>max:
            max=val2['Gold']
            c=country
print(c)

United States

### Q.2. Find the countries with more than 20 gold medal

In [4]:
for country,val1 in Olympic.items():
    for code,val2 in val1.items():
        if val2['Gold']>20:
            print(country)

Great Britain
China
Russia
United States

### Q.3. Evaluate the Dictionary and print the name of each country with its gold medals and total number of medals

In [4]:
for country,val1 in Olympic.items():
    for code,val2 in val1.items():
        total=val2['Gold']+val2['Silver']+val2['Bronze']
        print(f"{country}:\t Gold medals:{val2['Gold']}\t Total medals: {total}\n")

Great Britain:	 Gold medals:29	 Total medals: 65

China:	 Gold medals:38	 Total medals: 88

Russia:	 Gold medals:24	 Total medals: 81

United States:	 Gold medals:46	 Total medals: 103

Korea:	 Gold medals:13	 Total medals: 28

Japan:	 Gold medals:7	 Total medals: 38

Germany:	 Gold medals:11	 Total medals: 36